RewriteEngine on

# forbid apache access from opening these files which begin with docker-....
RewriteRule (^|/)\[Dd]ocker- - [F]

# This is how we "route" the application
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !index.php$ [NC]
RewriteRule ^(.*)$ index.php?url=/$1 [L,QSA]