header .logo,
header .logo img {
    width: 120px;
    height: 110px;
}

header .logo{
    float: left;
}

header nav{
    float: right;
    margin-top: 0;
    margin-right: 15px;
}

header nav ul li{
    float: left;
    padding: 0 10px;
}

header nav ul li .menuitem {
    line-height: 110px;
    font-size: 28px;
}

header .contact_number{
    float: right;
    padding: 0 10px;
}

.services .thumbnail {
    height: 0;
    padding-bottom: 90%;
}