/* Universal styles */
html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    font-family: 'Georgia', sans-serif;
    padding-bottom: 40px;
    overflow-x: hidden;
}

h2, h3 {
    font-family: 'Georgia', serif;
}

p {
    font-family: 'Lato', sans-serif;
}

main {
    padding-bottom: 50px;
}

a,
a:hover,
main .contact-icons .glyphicon {
    color: black;
}

.align-justify,
div.align-justify p, 
p.align-justify {
    text-align: justify;
}

p.align-right {
    text-align: right;
}

.italics-link a {
    font-style: italic;
}

textarea {
    resize: vertical;
    min-height: 2.25em;
}

/* Form Styles */
.btn {
    border-radius: 0px;
}

.btn-wrapper {
    text-align: center;
}

/* Visual Seperators */
.section-seperator {
    padding: 10px 0;
}

.wingding {
    font-family: 'Wingdings 2';
    font-size: 1.5em;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 15px;
    margin-bottom: 10px;
    height: 0px;
    text-align: center;
    color: darkgrey;
}

.wingding span {
    display: inline-block;
    padding: 0 10px;
    background: white;
    color: #C59B50;
}

/* List Styles */
main ul {
    list-style: none;
    padding-left: 20px;
    margin-left: 0px;
    font-family: 'Lato', sans-serif;
}

main li {
    position: relative;
    padding-left: 20px;
}

main ul li:before,
main ul li:before {
    content: '\25A0';
    padding-right: 8px;
    position: absolute;
    left: 0px;
}

ul.double-column {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

/* Header Styles */
header {
    position: relative;
    padding: 10px;
    background-color: #ffffff;
}

header .logo {
    display: block;
    text-align: center;
}

header .logo,
header .logo img {
    height: 55px;
}

header .logo img {
    width: 60px;
}

header nav {
    margin: 10px -15px 0 -15px;
}

header nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    padding: 0 5px;
}

header nav ul li .menuitem {
    font-family: 'Times New Roman', serif;
    text-transform: uppercase;
    color: #301f19;
    font-size: 18px;
}

/* Body Styles */
body.fixedtop {
    padding-top: 110px;
}

body.fixedtop header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 3;
    box-shadow: 0 0 10px 0 #000000;
}

body.fixedtop header a,
body.fixedtop header img {
    height: 55px;
}

body.fixedtop header .menuitem {
    line-height: 55px;
}

body.fixedtop header img {
    width: 60px;
}

/* About Page Styles */
main.about div {
    margin-bottom: 20px;
}

/* Video Styles */
.video-embed-container {
    max-width: 850px;
}

.video-embed-container .inner {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-embed-container iframe,
.video-embed-container object,
.video-embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Footer Styles */
footer {
    background-color: #4e4e4e;
    padding: 5px;
    margin-top: 15px;
    color: #eeeeee;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
    text-align: center;
}

.contact-form {
    margin-top: 10px;
}

.jumbotron.slide {
    height: 0;
    padding: 0 0 38% 0;
    overflow: hidden;
}

/* Service Styles */
.services .thumbnail {
    position: relative;
    border-radius: 0;
    padding: 0;
    width: 100%;
    box-shadow: none;
    border: 0;
}

.services .thumbnail .background {
    width: 100%;
    box-shadow: 5px 5px 10px #aaaaaa;
}

.services .thumbnail .caption {
    padding: 10px 0;
    text-align: center;
}

.services .thumbnail .caption h3 {
    margin-top: 0;
}

.services .thumbnail .caption a {
    color: inherit;
}

/* Testimonial Styles */
.testimonials .media {
    margin-top: 0;
    margin-bottom: 30px;
}

.testimonials img.media-object {
    width: 60px;
    height: 60px;
}

/* Press Styles */
.press h4.see-more,
main p.go-back {
    float: right;
}