body {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

footer {
    background-color: #4e4e4e;
    padding: 5px;
    margin-top: 15px;
    color: #eeeeee;
}

h2 {
    font-family: 'Georgia', serif;
}

h3 {
    font-family: 'Georgia', serif;
}

ul {
    list-style-type: square;
}

.btn {
	border-radius: 0px;
}

.household-placements {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    list-style-type: none;
}

.logo {
    width: 120px;
    height: 110px;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}

.navbar{
    border: 0;
    margin-bottom: 0;
}

.navbar-brand {
    height: 130px;
    padding: 10px;
}

.navbar-default .navbar-nav>li>a {
    line-height: 100px;
    font-family: 'Georgia', serif;
    color: #000000;
    font-size: 18px;
}

.navbar-default .navbar-nav>li {
    float: left;
}